@keyframes animation {
  0% {
    -webkit-transform: matrix3d(0.47, -0.171, 0, 0, 0.171, 0.47, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.47, -0.171, 0, 0, 0.171, 0.47, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.4% {
    -webkit-transform: matrix3d(0.607, -0.158, 0, 0, 0.245, 0.629, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.607, -0.158, 0, 0, 0.245, 0.629, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.3% {
    -webkit-transform: matrix3d(0.724, -0.128, 0, 0, 0.257, 0.746, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.724, -0.128, 0, 0, 0.257, 0.746, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.8% {
    -webkit-transform: matrix3d(0.754, -0.118, 0, 0, 0.253, 0.774, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.754, -0.118, 0, 0, 0.253, 0.774, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.61% {
    -webkit-transform: matrix3d(0.933, -0.04, 0, 0, 0.161, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.933, -0.04, 0, 0, 0.161, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.53% {
    -webkit-transform: matrix3d(0.963, -0.023, 0, 0, 0.131, 0.965, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.963, -0.023, 0, 0, 0.131, 0.965, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.91% {
    -webkit-transform: matrix3d(1.027, 0.019, 0, 0, 0.036, 1.026, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.027, 0.019, 0, 0, 0.036, 1.026, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.19% {
    -webkit-transform: matrix3d(1.038, 0.027, 0, 0, 0.01, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.038, 0.027, 0, 0, 0.01, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.22% {
    -webkit-transform: matrix3d(1.046, 0.034, 0, 0, -0.026, 1.046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.046, 0.034, 0, 0, -0.026, 1.046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.92% {
    -webkit-transform: matrix3d(1.044, 0.032, 0, 0, -0.033, 1.044, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.044, 0.032, 0, 0, -0.033, 1.044, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  23.57% {
    -webkit-transform: matrix3d(1.027, 0.02, 0, 0, -0.028, 1.028, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.027, 0.02, 0, 0, -0.028, 1.028, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.33% {
    -webkit-transform: matrix3d(1.01, 0.007, 0, 0, -0.013, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.01, 0.007, 0, 0, -0.013, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.44% {
    -webkit-transform: matrix3d(0.997, -0.002, 0, 0, 0.002, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.997, -0.002, 0, 0, 0.002, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  42.34% {
    -webkit-transform: matrix3d(0.997, -0.002, 0, 0, 0.002, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.997, -0.002, 0, 0, 0.002, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  61.11% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  61.66% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.98% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}