<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no， maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#000000">
    <title>Canvas</title>
    <script type="text/template" id="item-template">
        {{#items}}
        <li class="item-card-item">
            <a href="{{url}}" class="item-card">
                <div class="item-card-cover" style="background-image: url({{cover}})"></div>
                <div class="item-card-title">
                    <p>{{title}}<span class="tag">{{type}}</span></p>
                </div>
            </a>
        </li>
        {{/items}}
    </script>
    <script type="text/template" id="header">
        <header>
            <div class="header-logo">WebLab</div>

            <div class="tag-list">
                <ul class="nav-list">
                    {{#items}}
                    <li class="nav-item">
                        <a href="" data-tag="{{name}}">{{name}}</a>
                    </li>
                    {{/items}}
                </ul>
            </div>

            <div class="nav-list">
                <ul>
                    <li><a href="about.html">关于</a></li>
                </ul>
            </div>
        </header>
    </script>
</head>

<body class="page-content">
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div id="header-container"></div>
<ul class="list-view" id="item-list">
</ul>

<!--
  This HTML file is a template.
  If you open it directly in the browser, you will see an empty page.

  You can add webfonts, meta tags.json, or analytics to this file.
  The build step will place the bundled scripts into the <body> tag.

  To begin the development, run `npm start` or `yarn start`.
  To create a production bundle, use `npm run build` or `yarn build`.
-->
</body>
</html>
