/**
 * Variables, mixing can be used across the site defined here.
 */

// Main Color
$primary: #2e9961;


// Commonly used color

// Gray scale
$black: #000;
$gray85: #262626;
$gray75: #404040;
$gray60: #666666;
$gray40: #999999;
$gray25: #c0c0c0;
$gray10: #e6e6e6;
$gray3: #f8f8f8;
$white: #ffffff;

// Fruit
$crimson: #b11c1b; // 赤红
$red: #e44e4e;
$purple: #440480;
$gold: #ffd33a;

// Nature
$grass: #52971c;
$lime: #65b921;  // 青柠
$peppermint: #ddeecd;  // 薄荷
$honeydew: #f7fdf2;  // 甘露

// Sky
$midnightBlue: #002f47;  // 午夜蓝
$dusk: #00507a;  // 黄昏
$denim: #0e76ad;  // 牛仔蓝
$skyBlue: #4eb4e2;
$polar: #e3f2f9;
$blizzard: #f6f8fb;
$graphite: #465f6d;  // 石墨
$darkSlateGray: #31444f; // 板岩暗灰
$porcelain: #f2f4f5;  // 瓷白