.header {
  font-family: "Montserrat Medium", Helvetica, sans-serif;
}

.header header {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .99);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.header ul {
  padding: 0;
  margin: 0;
}

.header ul li {
  list-style: none;
}

.header a {
  text-decoration: none;
  color: black;
  display: block;
}

.header a:hover {
  color: #4eb4e2;
}

.header .header-logo {
  font-size: 2rem;
  font-weight: lighter;
  color: #002f47;
}

.nav-group {
  display: flex;
  flex-shrink: 1;

  .nav-header {
    padding: 0 .5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background: #3b4146;
    color: white;
    display: none;
  }

  .nav-item {
    padding: 22px 17px 22px 22px;
    color: #343639;
    border-bottom: 1px solid #dddddd;
    text-transform: uppercase;
  }
  .nav-item.active {
    background: #00a2c5;
    color: white;
  }
  .nav-item:hover {
    color: #4eb4e2;
  }
}

.tag-list {
  display: flex;
}

/**
  Element Style
 */
.hamburger {
  cursor: pointer;
  .cheese, .salad, .meet {
    width: 27px;
    border-top: 3px solid #00a2c5;
    margin-top: 6px;
    transition: transform 200ms linear;
  }
}

.hamburger.opened {
  .salad {
    opacity: 0;
  }
  .cheese {
    transform-origin: right top;
    transform: rotate(-45deg);
  }
  .meet {
    transform-origin: right bottom;
    transform: rotate(45deg);
  }
}

/**
  Responsive Layout Style
 */
.display-tablet {
  display: none;
}

.sidebar {
  background-color: white;
  min-height: fit-content;
}

.sidebar .nav-list-container {
  height: 100vh;
  overflow-y: scroll;
}

.sidebar.opened {
  display: block;
}

.nav-list-container {
  height: 100vh;
}

nav.nav-group {
  position: fixed;
  z-index: 20;
  top: 0;
  right: -280px;
  height: 100vh;
  width: 280px;
  .nav-header {
    display: inline-block;
    width: fit-content;
  }
  ul {
    flex-direction: column;
    padding: 0;
  }
}

/**
  Mobile
 */
@media screen and (max-width: 414px) {
  .hide-mobile {
    display: none;
  }
  .display-mobile {
    display: block;
  }

  header .nav-group {
    display: none;
  }
  .sidebar .nav-list-container {
    height: calc(100vh - 4rem);
  }
  nav.nav-group {
    display: none;
    position: static;
    width: auto;
    .nav-header {
      display: inline-block;
      width: fit-content;
    }
    ul {
      flex-direction: column;
      padding: 0;
    }
  }
  .sidebar {
    display: block;
  }
}