header {
  box-sizing: border-box;
  background-color: rgba(255,255,255,.99);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
header ul {
  padding: 0;
}
header ul li {
  list-style: none;
}
header a {
  text-decoration: none;
  color: black;
  display: block;
}
header a:hover {
  color: #4eb4e2;
}

header .header-logo {
  font-size: 2rem;
  font-weight: lighter;
  color: #002f47;
}

.nav-group {
  display: flex;
  flex-shrink: 1;
  .nav-header {
    padding: 0 .5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background: #3b4146;
    color: white;
    display: none;
  }

  .nav-item {
    padding: .5rem .5rem;
    color: black;
  }
  .nav-item:hover {
    color: #4eb4e2;
  }
}

.nav-group ul {
  padding-left: 2rem;
}

.tag-list {
  display: flex;
}

.display-sm-tablet {
  display: none;
}
.menu-button {
  position: absolute;
  top: 1.2rem;
  left: -80px;
}

/**
  Small Screen
 */

@media screen and (max-width: 700px) {
  nav.nav-group {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -240px;
    height: 100vh;
    background: white;
    width: 240px;
    .nav-header {
      display: block;
    }
    ul {
      flex-direction: column;
      padding: 0;
    }
  }
  .display-sm-tablet {
    display: block;
  }
}